# task 1 dump carbon data in sql data base

In [1]:
import mysql.connector as connection
import pandas as pandas
import csv

try:
    mydb = connection.connect(host="localhost", user="root", passwd="root123",use_pure=True)
    #check if the connection is established
    print(mydb.is_connected())
    #create a new database
    query = "Create database Carbon;"
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Database Created!!")
    mydb.close() #close the connection

    #Establish a new connection to the database created above
    mydb = connection.connect(host="localhost", database = 'Carbon',user="root", passwd="root123", use_pure=True)
# 'Chiral indice n', 'Chiral indice m', 'Initial atomic coordinate u', 
# 'Initial atomic coordinate v', 'Initial atomic coordinate w', 
# "Calculated atomic coordinates u'", "Calculated atomic coordinates v'", 
# "Calculated atomic coordinates w'"
    #create a new table to store glass data
    query = "CREATE TABLE IF NOT EXISTS nanotube2 (Chiral_indice_n INT(10),"\
    "Chiral_indice_m INT(10),Initial_atomic_coordinate_u INT(10), " \
    "Initial_atomic_coordinate_v INT(10), Initial_atomic_coordinate_w INT(10), "\
    "Calculated_atomic_coordinates_u INT(10)," \
    "Calculated_atomic_coordinates_v INT(10), Calculated_atomic_coordinates_w INT(10))"
    cursor = mydb.cursor()  # create a cursor to execute queries
    cursor.execute(query)
    print("Table Created!!")

    #read from the file
#     with open('carbon_nanotubes.csv', "r") as f:
# #         next(f)
#         carbon_data = csv.reader(f, delimiter=";")
#         next(carbon_data, None)
#         for line in (carbon_data):
            
# #             line = [(s.replace("[", "['")) for s in line]
# #             line = [(s.replace("]", "']")) for s in line]
#             line = [int(s.replace("0,", "")) for s in line]
#             line = ','.join(map(str, line))
# #             line =  " ".join(str(x) for x in line)
#             print((line))
# #             for list_ in (new_list[1]):
# #             cursor.execute('INSERT INTO nanotube2 values ({data})'.format(data=(str(line[0]))))
#             cursor.execute(f'INSERT INTO nanotube2 values ({str(line)})')

    #read from the file
    with open('carbon_nanotubes.csv', "r") as f:
        carbon_data = csv.reader(f, delimiter=";")
        next(carbon_data, None)
        for line in (carbon_data):
            line = [int(s.replace("0,", "")) for s in line]
            line = ','.join(map(str, line))
#             print((line))
            cursor.execute(f'INSERT INTO nanotube2 values ({str(line)})')

    
    print("Values inserted!!")
    mydb.commit()
    cursor.close()
    mydb.close()

except Exception as e:
    #mydb.close()
    print(str(e))

Table Created!!
Values inserted!!

In [4]:
# l = [1,2,3] 

# l = [(s.replace("[", "['")) for s in l]
# l = [(s.replace("]", "']")) for s in l]

# l
# # >>> " ".join([str(x) for x in L])
# # # '1 2 3'

In [5]:
# l = [3, 1, 679005, 701318, 17033, 721039, 730232, 17014]
# l = ','.join(map(str, l))
# # # l =list(l)
# # # l = str(l)
# # l =  " ".join(str(x) for x in l)
# # l = '3, 1, 679005, 701318, 17033, 721039, 730232, 17014'
# l

In [6]:
# mydb = connection.connect(host="localhost", database = 'Carbon',user="root", passwd="root123",use_pure=True)
#     # check if the connection is established
# print(mydb.is_connected())
# cur = mydb.cursor()
# # res = cur.execute("insert into nanotube2 values(2, 1, 679005, 701318, 17033, 721039, 730232, 17014)")#yyyy-mm-dd

In [7]:
# cur.execute(f'INSERT INTO nanotube2 values ({str(l)})')

In [8]:
# cur.execute("insert into nanotube2 values(2, 1, 679005, 701318, 17033, 721039, 730232, 17014)")

In [9]:
# mydb.commit()